<!--リスト 7.4: ユーザー情報を表示するための仮のビュー -->
<%= @user.name %>, <%= @user.email %>
<!--リスト 7.8: ユーザー表示ビューに名前とGravatarを表示する-->
<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
